In [3]:
import pandas as pd
import numpy as np
import os
os.chdir(r"C:\Users\dai\Desktop\S-AI\MachineLearning\Day12\Datasets")
import matplotlib.pyplot as plt
from sklearn.metrics import root_mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.api import ExponentialSmoothing
from statsmodels.tsa.api import Holt
from statsmodels.tsa.api import SimpleExpSmoothing
from scipy.cluster.hierarchy import linkage,dendrogram
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from sklearn.cluster import DBSCAN, KMeans,MiniBatchKMeans
from sklearn.ensemble import IsolationForest

In [5]:
milk = pd.read_csv('milk.csv', index_col=0)

In [7]:
iso = IsolationForest(random_state=24,n_estimators=25,contamination=0.05)
iso.fit_predict(milk)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1, -1])

In [11]:
milk

            water  protein   fat  lactose   ash
Animal
HORSE        90.1      2.6   1.0      6.9  0.35
ORANGUTAN    88.5      1.4   3.5      6.0  0.24
MONKEY       88.4      2.2   2.7      6.4  0.18
DONKEY       90.3      1.7   1.4      6.2  0.40
HIPPO        90.4      0.6   4.5      4.4  0.10
CAMEL        87.7      3.5   3.4      4.8  0.71
BISON        86.9      4.8   1.7      5.7  0.90
BUFFALO      82.1      5.9   7.9      4.7  0.78
GUINEA PIG   81.9      7.4   7.2      2.7  0.85
CAT          81.6     10.1   6.3      4.4  0.75
FOX          81.6      6.6   5.9      4.9  0.93
LLAMA        86.5      3.9   3.2      5.6  0.80
MULE         90.0      2.0   1.8      5.5  0.47
PIG          82.8      7.1   5.1      3.7  1.10
ZEBRA        86.2      3.0   4.8      5.3  0.70
SHEEP        82.0      5.6   6.4      4.7  0.91
DOG          76.3      9.3   9.5      3.0  1.20
ELEPHANT     70.7      3.6  17.6      5.6  0.63
RABBIT       71.3     12.3  13.1      1.9  2.30
RAT          72.5      9.2  12.6      3.3  1.40
DEER         65.9     10.4  19.7      2.6  1.40
REINDEER     64.8     10.7  20.3      2.5  1.40
WHALE        64.8     11.1  21.2      1.6  1.70
SEAL         46.4      9.7  42.0      0.0  0.85
DOLPHIN      44.9     10.6  34.9      0.9  0.53

## RFM

In [14]:
rfm = pd.read_csv(r"C:\Users\dai\Desktop\S-AI\MachineLearning\Day13\rfm_data_customer.csv",index_col=0)

In [18]:
rfm.head()

             revenue most_recent_visit  number_of_orders  recency_days
customer_id
22086            777        2006-05-14                 9           232
2290            1555        2006-09-08                16           115
26377            336        2006-11-19                 5            43
24650           1189        2006-10-29                12            64
12883           1229        2006-12-09                12            23

In [20]:
rfm.drop('most_recent_visit',axis=1,inplace=True)

In [34]:
iso = IsolationForest(random_state=24,n_estimators=1000,contamination=0.1)
labels = iso.fit_predict(rfm)

In [35]:
np.unique(labels, return_counts= True)

(array([-1,  1]), array([ 4000, 35999], dtype=int64))